* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		
}


body{
	
	
	background: url(a.jpg) #000;
	background-size: cover; 
	color: #fff;
	font-size: 16px;
	
}


.wrap{
	
	width : 90%;
	max-width: 1000px;
	
	
}

.widget {
	
	width: 40%;
	margin: 2em;
	
}



.widget p{
	
	display: inline-block;
	line-height: 1em;
	
	
}

.fecha{
	
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 1.5em;
	margin-bottom : 0.3125em;
	background: rgba(0,0,0,.5);
	padding:20px;
	width: 100%
	
}

.reloj{
	
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 4em;
	margin-bottom : 0.3125em;
	background: rgba(0,0,0,.5);
	padding:20px;
	width: 100%
	
}


.reloj .caja-segundos {
	
		display: inline-block;
}

.reloj .segundos , 
.reloj .ampm {
	
	font-size: 2rem;
	
	display: block;
	
}








